* {
  margin: 0px;
  padding: 0%;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}
button:hover{
  transform: scale(1.1, 1.1);
}
h2{
  font-size: 18px;
  color: rgb(19,35,60);
}
h3{
  color: rgb(19,35,60);
}
p {
  font-size: 14px;
}
a{
  text-decoration: none;
  cursor: pointer;
}
/*
  
.Logo{
  width: 10%;
  margin: 0px 225px 0px 10px;
  z-index: 2;
}
#nav{
  margin: 0%;
  width: 100%;
  height: 700px;
  display: none;
  position: absolute;
  background-color: rgb(210,230,240);
  text-align: center;
  transition: all 2s ease;
}
ul{
  list-style-type: none;
  padding-top: 50px;
}
 ul li{
  padding: 10px;
}
ul li a {
  text-decoration: none;
  color: rgb(19,35,60);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.dropdown-content{
  display: none;
  background-color: white;
  width: 100%;
  height: auto;
}
.dropdown-content a{
  color: rgb(19,35,60);
}
.dropdown-content p{
  padding: 10px;
}
*/
.nav-bar{
  width: 100%;
  height: 50px;
  display: flex;
  position: fixed;
  margin: 0%;
  z-index: 10;
}
.Logo {
  width: 20%;
  float: left;
  margin-left: 10px;
  cursor: pointer;
  z-index: 2;
}
#nav{
  margin: 0%;
  width: 100%;
  height: 700px;
  display: none;
  position: absolute;
  background-color: rgb(210,230,240);
  text-align: center;
  transition: all 2s ease;
}
ul{
  list-style-type: none;
  padding-top: 50px;
}
ul a, .hom a{
  color: #13233c;
}
ul li{
  padding: 10px;
}
.dropdown-content{
  display: none;
  background-color: white;
  width: 100%;
  height: auto;
}
.dropdown-content a{
  color: rgb(19,35,60);
}
.dropdown-content p{
  padding: 10px;
}
.container{
  display: block;
  cursor: pointer;
  float: left;
  margin-top: 3%;
  margin-left: 60%;
  padding-bottom: 10px;
  z-index: 4;
}
.bar1, .bar2, .bar3 {
  width: 20px;
  height: 2px;
  background-color: rgb(19,35,60);
  margin: 4px 0;
  transition: 0.4s;
}
.change{
  display: block;
  float: left;
  margin-top: 3%;
  margin-left: 60%;
  padding-bottom: 10px;
  z-index: 4;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 5px);
   transform: rotate(-45deg) translate(-8px, 5px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
 -webkit-transform: rotate(45deg) translate(-4px, 0px);
  transform: rotate(45deg) translate(-4px, 0px);
}
.row1{
  background-color: rgb(19,35,60,0.7);
  background-blend-mode:soft-light;
  background-image: url("IMG/aboutbackground1.jpg");
  background-repeat: no-repeat;
  background-position-y: 0px;
  background-size: cover;
  color: white;
  width: 100%;
  height: 180px;
  margin-top: 0px;
  padding-top: 100px;
}
.row1 h1{
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
.word1{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.row2{
  text-align: left;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  padding-left: 10%;
}
.lay1{
  width: 90%;
  float: left;
}
.lay1 h2{
  font-size: 50px;
}
.lay2 img{
  width: 90%;
  float: left;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.row3{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.row3::after{
  content: "";
  clear: both;
  display: block;
}
table{
  border-spacing: 10px;
  float: left;
}
.box1 img, .box4 img{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  float: left;
} 
.box2 img, .box3 img{
  width: 175px;
  height: 100px;
  border-radius: 10px;
}
.box2 img{
  float: left;
  margin-left: -75px;  
}
.lay4{
  width: 80%;
  text-align: left;
  float: left;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 30px;
}
.row4{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.row5{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  border-spacing: 20px;
}
.row5 img{
  display: block;
  width: 30%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}
.row6{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 600px;
}
.row6 img{
  display: block;
  width: 30%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.last{
  background-color: rgb(210,230,240);
  height: 450px;
  width: 100%;
  margin-left: 0%;
  margin-top: 200px;
}
.row7{
 padding: 10px 20px ;
}
.row7 a{
  text-decoration: none;
  color: rgb(0,0,0);
}
.lay13 img{
  width: 25%;
}
.lay13, .lay14, .lay15{
  color: rgb(19,35,60);
}
.lay14 a, .lay15 a, h3, .lay13 i{
  color: rgb(19,35,60);
}
h3{
  margin-top: 10px;
}




@media only screen and (min-width: 768px){
  h2{
    font-size: 33px;
  }
  p{
    font-size: 20px;
  }
  header{
    height: 75px;
  }
  .Logo{
    margin-top: -30px;
    aspect-ratio: 1;
  }
  .row1{
    height: 200px;
    padding-top: 150px;
  }
  .row1 h1{
    font-size: 60px;
  }
  .lay2 img{
    border-top-right-radius: 75px;
    border-bottom-left-radius: 75px;
  }
  table{
    border-spacing: 20px;
  }
  .box1 img, .box4 img{
    width: 250px;
    height: 250px;
  }
  .box2 img, .box3 img{
    width: 375px;
    height: 250px;
  }
  .box2 img{
    margin-left: -125px;  
  }
  .lay4{
    margin-bottom: 75px;
  }
  .row5 img{
    width: 25%;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .row6 img{
    width: 25%;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .last{
    height: 450px;
    width: 100%;
    margin-left: 0%;
    margin-top: 600px;
  }
  .lay14{
    margin-left: 20px;
    margin-right: 150px;
  }
}




@media only screen and (min-width: 1000px){
  header{
    height: 100px;
  }
  .Logo {
    margin-top: -65px;
    width: 200px;
    transition: 1s;
    aspect-ratio: 1;
  }
  #ul{
    display: block;
    height: auto;
    margin-left: 60%;
    padding: 0px;
  }
  ul a{
    padding: 30px 10px 30px ;
    float: left;
    margin-right: 20px;
    font-size: 18px;
  }
  li a:hover{
    color: yellow;
  }
  li a:active{
    color: yellow;
  }
  .dropdown-content {
    margin: 79px 150px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: #13233c;
    width: fit-content;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content p:hover {
    color: yellow;
    background-color: #13233c;
  }
  
  .dropdown:hover .dropdown-content {
    display: grid;
  }
  
  .dropdown:hover .dropbtn {
    color: yellow;
  }
  .container{
    display: none;
  }
  .row1{
    height: 300px;
    padding-top: 20%;
    padding-bottom: 50px;
  }
  .word1{
    width: 60%;
  }
  .row2{
    display: flex;
    width: 90%;
  }
  .lay1{
    width: 80%;
    margin-left: 25px;
  }
  .lay1 p{
    font-size: 16px;
  }
  .lay2 img{
    width: 45%;
    margin: 110px;
  }
  .row3{
    display: flex;
    margin-bottom: 20px;
  }
  .row4{
    text-align: center;
  }
  .row5, .row6{
    display: flex;
    text-align: center;
    margin-top: 20px;
    height: auto;
  }
  .last{
    margin-top: 100px;
    margin-bottom: 0%;
  }
  .row7{
    display: block;
  }
  .lay13 img{
    width: 20%;
    margin: auto;
  }
  .lay13 i{
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 25px;
    font-size: 25px;
  }
  .lay13::after{
    content: "";
    clear: both;
    display: block;
  }
  .lay14, .lay15{
    margin: 0% 25% 0% 25px;
  }
}