* {
  margin: 0px;
  padding: 0px;
}

img{
    width: 100px;
}
video{
    width: 100px;
}
main, footer, email{
    width: 10%;
    font-size: 10px;
}


body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}
button:hover{
  transform: scale(1.1, 1.1);
}
h2{
  font-size: 18px;
  color: rgb(19,35,60);
}
h3{
  color: rgb(19,35,60);
}
p {
  font-size: 14px;
}
a{
  text-decoration: none;
  cursor: pointer;
}

.topnav{
    display: flex;
    position: fixed;
    background-color: rgb(210,230,240);
    width: 70%;
}
.Logo {
    width: 20%;
    border-radius: 10%;
    float: left;
    margin-left: 2%;
    cursor: pointer;
    margin-top: 0px;
  }
#ul{
    display: none;
}


.dropdown-content{
  display: none;
}
.container{
  display: block;
  cursor: pointer;
  float: left;
  margin-top: 3%;
  margin-left: 40%;
  padding-bottom: 10px;
  z-index: 4;
}
.bar1, .bar2, .bar3 {
  width: 20px;
  height: 2px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}
.change{
  display: block;
  float: left;
  margin-top: 3%;
  margin-left: 40%;
  padding-bottom: 10px;
  z-index: 4;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 5px);
   transform: rotate(-45deg) translate(-8px, 5px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
 -webkit-transform: rotate(45deg) translate(-4px, 0px);
  transform: rotate(45deg) translate(-4px, 0px);
}


