* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.scrollable-place {
  height: auto;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

button{
  border-radius: 5px;
  padding: 5px;
  margin: 10px ;
  color: white;
  background-color: rgb(19,35,60);
}
button:hover{
  color: rgb(19,35,60);
  background-color: rgb(210,230,240);
  transform: scale(1.1, 1.1);
  transition: 1s;
}
h1{
  font-size: 24px;
}
h2{
  font-size: 18px;
}
h3{
  font-size: 16px;
}
p{
  font-size: 14px;
}
.container{
  display: block;
  cursor: pointer;
  float: right;
  margin-top: 3%;
  margin-right: 10%;
  padding-bottom: 10px;
  z-index: 4;
}
.bar1, .bar2, .bar3 {
  width: 20px;
  height: 2px;
  background-color: rgb(19,35,60);
  margin: 4px 0;
  transition: 0.4s;
}
.change{
  display: block;
  float: right;
  margin-top: 3%;
  margin-right: 10%;
  padding-bottom: 10px;
  z-index: 4;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 5px);
   transform: rotate(-45deg) translate(-8px, 5px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
 -webkit-transform: rotate(45deg) translate(-4px, 0px);
  transform: rotate(45deg) translate(-4px, 0px);
}

.nav-bar{
  width: 100%;
  height: 50px;
  display: flex;
  position: fixed;
  background-color: rgb(210,230,240);
  margin: 0%;
  z-index: 10;
}
.Logo{
  cursor: pointer;
  width: 10%;
  margin: 0px 250px 0px 10px;
  z-index: 2;
}
#nav{
  margin: 0%;
  width: 100%;
  height: 900px;
  display: none;
  position: absolute;
  text-align: center;
}
ul{
  list-style-type: none;
  padding-top: 50px;
}
 ul li{
  padding: 10px;
}
ul li a {
  text-decoration: none;
  color: rgb(19,35,60);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.active a{
  color: rgba(170, 187, 18, 0.836);
}
.dropdown-content{
  padding: 0%;
  display: none;
  background-color: white;
  width: 100%;
  height: auto;
}
.drop-link{
  padding: 0%;
}
.dropdown-content a{
  color: rgb(19,35,60);
  transition: all 1s;
}
main{
  margin: 0%;
  padding: 0%;
  padding-top: 0px;
}

/*this slideshow is not approved*/
/*
  .slideshow{
    width: 95%;
    height: 200px;
    position: absolute;
  }
  .slideshow li span {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0%;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -4;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 24s linear infinite 0s;
    -moz-animation: imageAnimation 24s linear infinite 0s;
    -o-animation: imageAnimation 24s linear infinite 0s;
    -ms-animation: imageAnimation 24s linear infinite 0s;
    animation: imageAnimation 24s linear infinite 0s;
  }
  .slideshow li:nth-child(1) span { 
    background-image: url('IMG/banner3.jpg');
  }
  .slideshow li:nth-child(2) span {
      background-image: url('IMG/banner2.jpg');
      -webkit-animation-delay: 8s;
      -moz-animation-delay: 8s;
      -o-animation-delay: 8s;
      -ms-animation-delay: 8s;
      animation-delay: 8s;
  }
  .slideshow li:nth-child(3) span {
      background-image: url('IMG/banner1.jpg');
      -webkit-animation-delay: 16s;
      -moz-animation-delay: 16s;
      -o-animation-delay: 16s;
      -ms-animation-delay: 16s;
      animation-delay: 16s;
  }
  @-webkit-keyframes imageAnimation { 
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    35% {
        opacity: 1;
        transform: scale(1.1);
    }
    50% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% { opacity: 0 }
  }
  @-moz-keyframes imageAnimation { 
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    35% {
        opacity: 1;
        transform: scale(1.1);
    }
    50% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% { opacity: 0 }
  }
  @-o-keyframes imageAnimation { 
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    35% {
        opacity: 1;
        transform: scale(1.1);
    }
    50% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% { opacity: 0 }
  }
  @-moz-keyframes imageAnimation { 
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    35% {
        opacity: 1;
        transform: scale(1.1);
    }
    50% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% { opacity: 0 }
  }
  @keyframes imageAnimation { 
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    35% {
        opacity: 1;
        transform: scale(1.1);
    }
    50% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% { opacity: 0 }
  }
*/

.page1{
  background-image: url('IMG/Background\ 1.jpg');
  background-size: cover;
  background-blend-mode: color;
  background-color: rgb(0,0,0,0.3);
  margin-bottom: 20px;
  padding: 70px 20px 50px 20px;
  text-align: center;
}
.page1 h1 span{
  color: yellow;
}
.page1 h1{
  color: rgb(19,35,60);
  font-family: 'tenor sans';
  font-size: 30px;
}
.page1 br{
  display: none;
}
.page1 p{
  letter-spacing: 1px;
  color: white;
  font-size: 12px;
}
.row1{
  width: 90%;
  margin: auto;
}
.lay img{
  display: none;
}
.row1 hr{
  display: none;
  width: 90%;
  height: 1px;
  background-color: rgb(19,35,60);
}
.lay1 h1 {
  margin: 10px 0px 0px 0px;
}
.lay1 hr{
  display: block;
  margin: 10px 0px 10px 0px;
}
.lay2 {
  font-size: 12px;
  margin-bottom: 50px;
}
.row2{
  width: 90%;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  color: white;
  padding: 0px 0px 10px 0px;
  background-color: rgb(19,35,60);
  box-shadow: 0px 5px 10px 3px rgb(0,0,0);
}
.row2-head{
  text-align: center;
  margin-bottom: 5px;
}
.row2 h3{
  margin: 5px;
}
.row2 a{
  font-size: 20px;
  text-decoration: none;
  color: rgb(210,230,240);
}
.lay33 img{
  border-radius: 10px 10px 0px 0px;
}
.row2 img{
  width: 100%;
}
.lay3 img, .lay4 img, .lay5 img{
  width: 15%;
}
.lay3, .lay4, .lay5{
  padding: 20PX 20PX 20PX 20PX;
}
.row3{
  color: white;
  text-align: center;
  background-image: url('IMG/banner\ \(1\).jpg');
  background-color: rgb(0,0,0,0.3);
  margin: 50px 0px 20px 0px;
  padding: 20px 10px 20px 10px;
}
.lay7{
  margin: auto;
  padding: 20px 5px 0px 5px;
  width: 70%;
  border: 1px solid rgb(255,255,255,0.0);
}
.lay7-slideshow{
  overflow: hidden;
  display: flex;
  padding: 20px;  
}
.lay7a{
  padding: 15%;
  margin: 25px 50px 25px 50px;
  border: 1px solid rgb(255,255,255,0.5);
  animation: animate 30s infinite;
}
.lay7 i{
  color: rgb(19,35,60);
  margin: 5px;
  font-size: 30px;
}
@keyframes animate {
  0%{
    transform: translateX(0px);
  }
  7%{
    transform: translatex(0px);
  }
  15%{
    transform: translatex(0px);
  }
  25%{
    transform: translatex(-300px);
  }
  35%{
    transform: translatex(-300px);
  }
  45%{
    transform: translatex(-560px);
  }
  55%{
    transform: translatex(-560px);
  }
  65%{
    transform: translatex(0px);
  }
  85%{
    transform: translatex(0px);
  }
  100%{
    transform: translatex(0px);
  }
}
.row4{
  padding: 20px;
}
.but11, .but12{
  cursor: pointer;
  border-radius: 15px;
  font-size: 12px;
  width: 125px;
  animation: animate-button 2s infinite;
}
@keyframes animate-button{
  0%{
    transform: translateY(0px);
  }
  15%{
    transform: translateY(5px);
  }
  50%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(0px);
  }


}
.last{
  background-color: rgb(210,230,240);
  height: 450px;
  width: 100%;
  margin-left: 0%;
  margin-top: 20px;
}
.row7{
 padding: 10px 20px ;
}
.row7 a{
  text-decoration: none;
  color: rgb(0,0,0);
}
.lay13 img{
  width: 25%;
}
.lay13, .lay14, .lay15{
  color: rgb(19,35,60);
}
.lay14 a, .lay15 a, h3, .lay13 i{
  color: rgb(19,35,60);
}
h3{
  margin-top: 10px;
}





@media only screen and (min-width: 768px){
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 24px;
  }
  h3{
    font-size: 20px;
  }
  p{
    font-size: 18px;
  }
  .nav-bar{
    height: 100px;
    padding: 0%;
  }
  #nav{
    height: auto;
    padding: 50px 0px 50px 0px;
  }
  .bar1, .bar2, .bar3 {
    width: 40px;
    height: 5px;
    background-color: rgb(19,35,60);
    margin: 8px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 5px);
     transform: rotate(-45deg) translate(-8px, 5px);
  }
  .change .bar2 {opacity: 0;}
  .change .bar3 {
   -webkit-transform: rotate(45deg) translate(-8px, 1px);
    transform: rotate(45deg) translate(-14px, -10px);
  }
  .Logo{
    margin-right: 70%;
  }
  .page1{
    padding: 150px 50px 0px 50px;
    height: 250px;
  }
  .row1{
    padding: 20px 0px 10px 50px;
  }
  .row2{
    padding: 0px;
    height: 700px;
    border-radius: 0%;
    width: 100%;
  }
  .row2 h3{
    color: white;
  }
  .row2-sub-1{
    display: flex;
    height: 230px;
  }
  .diva{
    margin: 0%;
    width: 54.3%;
  }
  .diva img{
    border-radius: 0%;
    height: 230px;
  }
  .divb img{
    width: 10%;
  }
  .divb{
    width: 50%;
  }
  .lay4-s{
   display: none;
  }
  .lay4{
    height: 230px;
    margin: 0%;
    padding: 10px;
  }
  .row3{
    padding-top: 75px;
    margin: 0%;
  }
  .lay7-slideshow{
    margin: auto;
    width: 300px;
  }
  @keyframes animate {
    0%{
      transform: translateX(0px);
    }
    7%{
      transform: translatex(0px);
    }
    15%{
      transform: translatex(0px);
    }
    25%{
      transform: translatex(-350px);
    }
    35%{
      transform: translatex(-350px);
    }
    45%{
      transform: translatex(-650px);
    }
    55%{
      transform: translatex(-650px);
    }
    65%{
      transform: translatex(0px);
    }
    85%{
      transform: translatex(0px);
    }
    100%{
      transform: translatex(0px);
    }
  }
  .last{
    height: auto;
  }
  .row7{
    padding: 20px;
    display: flex;
  }
  .lay13, .lay14, .lay15{
    width: 30%;
  }
}


@media only screen and (min-width: 1000px){
  .word1 h1{
    font-size: 40px;
  }
  .par br{
    display: block;
  }
  .word1 p{
    font-size: 18px;
    letter-spacing: normal;
  }
  .container{
    display: none;
  }
  .nav-bar{
    background-color: rgb(210,230,240,0.0);
    height: 75px;
  }
  .Logo{
    margin: 0px;
    width: 8%;
  }
  #nav{
    height: auto;
    padding: 0%;
    display: block;
    position: relative;
    float: right;
  }
  ul li a{
    color: inherit;
  }
  #ul{
    color: rgb(19,35,60);
    padding: 15px 0px 0px 50%;
  }
  #ul li{
    border: 3px 0px 0px 0px;
    padding: 15px 20px;
    float: left;
  }
  ul li:hover{
    border-top: 3px solid rgb(19,35,60);
    border-radius: 0%;
    color: rgba(170, 187, 18, 0.836);
    background-color: rgb(220,242,23,0.0);
  }
  .active{
    border-bottom: 3px solid rgb(19,35,60);
    border-radius: 5px 5px 0px 0px;
    color: rgba(170, 187, 18, 0.836);
  }
  .dropdown-content {
    color: rgb(19,35,60);
    position: absolute;
    width: auto;
    text-align: left;
    border-radius: 10px;
    margin: 10px 0px 0px -50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px;
    z-index: 1;
    animation: nav 2s ease;
  }
  @keyframes nav {
    0%{
      transform: translateX(-100px);
      opacity: 0.2;
    }
    100%{
      transform: translateX(0px);
      opacity: 1;
    }
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .drop-link{
    max-width: 200px;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
  }
  .drop-link li{
    flex: 100%;
  }
  .drop-link li a{
    color: inherit;
  }
  .drop-link li:hover{
    border-radius: 10px;
    color: rgba(170, 187, 18, 0.836);
    background-color: rgb(19,35,60);
    transition: 1.5s;
  }


  .page1{
    height: 500px;
  }
  .word1{
    margin-top: 10%;
  }
  .row1{
    padding: 10% 0% 20% 0%;
    display: flex;
    flex-wrap: wrap;
  }
  .lay{
    width: 20%;
  }
  .lay img{
    display: block;
    width: 80%;
  }
  .row1 hr.line{
    height: 2px;
    width: 300px;
    display: block;
    position: absolute;
    transform: rotate(90deg);
    margin: -7.5% 0% 0% 3%;
  }
  .lay1 hr{
    position: absolute;
    margin-left: -17%;
    height: 2px;
    width: 1100px;
  }
  .lay1 p{
    margin-top: 20px;
  }
  .row2{
    margin: 50px auto 100px auto;
    border-radius: 20px;
    width: 70%;
  }
  .lay33 img{
    border-radius: 20px 0px 0px 0px ;
  }
  .lay4{
    padding: 20px;
  }
  .lay-5 img{
    margin-bottom: 0px;
    border-radius: 0px 0px 0px 20px;
  }
  .row2::before{
    position: absolute;
    content: "";
    width: 100%;
    margin: -170px 0px auto -683px;
    height: 1000px;
    background-image: linear-gradient(rgb(210,230,240), rgb(210,230,240,0.3));
    z-index: -1;
    float: right;
  }
  .row3{
    display: flex;
    flex-wrap: nowrap;
  }
  .lay6, .lay7{
    flex: 50%;
  }
  .lay6{
    padding-top: 10%;
  }
  .lay7 h3{
    color: white;
  }
  .row4{
    padding: 5%;
  }
  .row4 h2{
    margin-bottom: 10px;
  }
  .lay9{
    margin-top: 10px;
  }
  .last{
    padding: 50px 0px 100px 0px;
  }
  .lay13 a{
    margin-left: 12px;
  }
}