

h1{
  font-size: 24px;
}
h2{
  font-size: px;
}
h3{
  font-size: 16px;
}
p{
  font-size: 14px;
}
.jumper{
  display: none;
}
.up{
  display: flex;
  justify-content: right;
}
div.jump-up{
  position: fixed;
  margin-top: 43%;
  margin-right: 5%;
  font-size: 25px;
  background-color: rgb(19,35,60);
  z-index: 1;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}
div.jump-up i{
  color: rgb(210,230,240);
}